<launch>
    <arg name="map" default="$(find ros_2dnav_learning)/map/map.yaml" />

    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)" />

    <include file="$(find ros_2dnav_learning)/launch/car_robot_rplidar.launch"/>
    <include file="$(find ros_2dnav_learning)/launch/amcl_diff.launch" />
</launch>