<launch>

    <arg name="move_forward_only" default="true" />  
    
    <include file="$(find ros_2dnav_learning)/launch/robot_test.launch"/>

    <include file="$(find ros_2dnav_learning)/launch/amcl_diff.launch" />
    
    <include file="$(find ros_2dnav_learning)/launch/move_base.launch">
        <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    </include>

    <arg name="map" default="$(find ros_2dnav_learning)/map/map1.yaml" />

    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)" />
    
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /odom" />


</launch>
